<mat-sidenav-container class="sidenav-container">
    <!-- not darkMode here -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="configure" routerLinkActive="active">
                <mat-icon>warning_amber</mat-icon>
                Configure
            </a>
            <a mat-list-item routerLink="upload" routerLinkActive="active">
                <mat-icon>warning_amber</mat-icon>
                Upload
            </a>
            <a mat-list-item routerLink="fetch" routerLinkActive="active">
                <mat-icon>format_list_bulleted</mat-icon>
                Fetch Data
            </a>
            <a mat-list-item routerLink="view" routerLinkActive="active">
                <mat-icon>device_hub</mat-icon>
                View Data
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="database" routerLinkActive="active">
                <mat-icon>work_outline</mat-icon>
                Database
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Ships Application</span>
        </mat-toolbar>
        <router-outlet> </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
