target/
build/
node/
node_modules/
yarn.lock

.gradle
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode
.DS_Store
.idea
*.iws
*.iml
*.ipr
/etc/input/
/frontend/src/generated/
/frontend/openapitools.json
