<h3>Upload Data</h3>

<ngx-file-drop dropZoneLabel="Drop files here"
               (onFileDrop)="dropped($event)"
               (onFileOver)="fileOver($event)"
               (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp  let-openFileSelector="openFileSelector">
        drop content here
    </ng-template>
</ngx-file-drop>

<div *ngIf="files.length > 0">
<h4>processing</h4>
<p *ngFor="let item of files; let i=index">
    {{ item.relativePath }}
</p>
</div>

<ng-container *ngFor="let notes of notes$ | async">
    <h4>{{notes}}</h4>
</ng-container>
